.page {
  background-color: #FCFAF7;
  min-width: 360px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  font-family: "TT_Firs_Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
