.numbers__mobile-image {
    width: 100%;
    max-width: 1360px;
    max-height: 720px;
    min-width: 320px;
    max-height: 320px;
    display: none;
}

@media screen and (max-width: 700px) {
    .numbers__mobile-image {
        display: block;
    }
}