.error404__container {
display: flex;
margin: 160px auto;
max-width: 880px;
justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .error404__container {
   margin-left: 20px;
  }
}

@media screen and (max-width: 550px) {
  .error404__container {
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 320px;
  }
}
