.header {
  margin: 0 auto;
  background-color: rgb(255, 212, 0);
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  transition: 1s;
}

