.footer__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #3B3748;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  transition: .2s;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (min-width: 425px) {
  .footer__link {
    justify-content: start;
  }
}

@media screen and (min-width: 900px) {
  .footer__link {
    height: 48px;
    font-size: 18px;
    line-height: 24px;
  }
}
