.events__title_modif_error404 {}


@media screen and (max-width: 700px) {
  .events__title_modif_error404 {
      margin: 20px auto;
      line-height: 36px;
      font-size: 32px;
  }
}

@media screen and (max-width: 450px) {
  .events__title_modif_error404 {
    max-width: 320px;
  }
}
