.popup__change-city-label {
  margin: 0 auto;
  padding: 12px 20px;
  max-height: 52px;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #3B3748;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
