.events__card-detail {
    margin: 0;
    max-width: 200px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #96949E;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
