.popup__pseudo-item_payment {
  height: 20px;
  width: 20px;
  margin-right: 4px;
  background-image: url(../../../../images/radio-disabled.svg);
  background-size: cover;
}

@media screen and (min-width: 768.98px) {
  .popup__pseudo-item_payment {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
