.popup__donate-close-button-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #3B3748;
  margin: 0;
}

@media screen and (min-width: 768.98px) {
  .popup__donate-close-button-text {
    font-size: 48px;
    line-height: 52px;
  }
}
