.events__cards-container {
    margin: 24px 0 0 40px;
    padding: 0;
    display: flex;
    flex-direction: row;

    list-style: none;
    overflow-x: scroll;
}

.events__cards-container::-webkit-scrollbar {
    height: 4px;
}

.events__cards-container::-webkit-scrollbar-track {
    background-color:  #FCFAF7;
    border-radius: 100px;
    margin-right: 40px;
}

.events__cards-container::-webkit-scrollbar-thumb {
    background-color: #7100FF;
    border-radius: 100px;  
}

@media screen and (max-width: 700px) {
    .events__cards-container {
        margin-left: 0;
        margin-top: 28px;
    }
    .events__cards-container::-webkit-scrollbar-track {
        margin: 0 20px;
    }
}