@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/document/document.css);

@import url(../blocks/page/__link/page__link.css);
@import url(../blocks/page/__button/page__button.css);

@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__location-button/header__location-button.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__navigation-link/header__navigation-link.css);
@import url(../blocks/header/__location-image/header__location-image.css);
@import url(../blocks/header/__location-button-text/header__location-button-text.css);
@import url(../blocks/header/__like-image/header__like-image.css);
@import url(../blocks/header/__link-text/header__link-text.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__menu-button/header__menu-button.css);
@import url(../blocks/header/__donate-button/header__donate-button.css);
@import url(../blocks/header/__donate-text/header__donate-text.css);
@import url(../blocks/header/_hidden/header_hidden.css);

@import url(../blocks/main-screen/main-screen.css);
@import url(../blocks/main-screen/__text/main-screen__text.css);
@import url(../blocks/main-screen/__learn-more/main-screen__learn-more.css);

@import url(../blocks/about-action/about-action.css);
@import url(../blocks/about-action/__title/about-action__title.css);
@import url(../blocks/about-action/__text-container/about-action__text-container.css);
@import url(../blocks/about-action/__text/about-action__text.css);
@import url(../blocks/about-action/__learn-more/about-action__learn-more.css);

/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_type/_menu/popup_type_menu.css);
@import url(../blocks/popup/_type/_change-city/popup_type_change-city.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__navigation-text/popup__navigation-text.css);
@import url(../blocks/popup/__change-city-button/popup__change-city-button.css);
@import url(../blocks/popup/__city-name/popup__city-name.css);
@import url(../blocks/popup/__list/popup__list.css);
@import url(../blocks/popup/__list-item/popup__list-item.css);
@import url(../blocks/popup/__link/popup__link.css);
@import url(../blocks/popup/__logo/popup__logo.css);
@import url(../blocks/popup/__open-donate-button/popup__open-donate-button.css);
@import url(../blocks/popup/__open-donate-button-text/popup__open-donate-button-text.css);
@import url(../blocks/popup/__back-button/popup__back-button.css);
@import url(../blocks/popup/__back-button-text/popup__back-button-text.css);
@import url(../blocks/popup/__change-city-form/popup__change-city-form.css);
@import url(../blocks/popup/__change-city-label/popup__change-city-label.css);
@import url(../blocks/popup/__form-radio/popup__form-radio.css);
@import url(../blocks/popup/__pseudo-item/popup__pseudo-item.css);
@import url(../blocks/popup/__container/_type/_donate/popup__container_type_donate.css);
@import url(../blocks/popup/__donate-form/popup__donate-form.css);
@import url(../blocks/popup/__slider/popup__slider.css);
@import url(../blocks/popup/__donate-close-button/popup__donate-close-button.css);
@import url(../blocks/popup/__donate-close-button-text/popup__donate-close-button-text.css);
@import url(../blocks/popup/__donate-close-button-picture/popup__donate-close-button-picture.css);
@import url(../blocks/popup/__donate-text/popup__donate-text.css);
@import url(../blocks/popup/__payment-method/popup__payment-method.css);
@import url(../blocks/popup/__sum-of-money-container/popup__sum-of-money-container.css);
@import url(../blocks/popup/__sum-of-money/popup__sum-of-money.css);
@import url(../blocks/popup/__sum-of-money/_active/popup__sum-of-money_active.css);
@import url(../blocks/popup/__sum-of-money-text/popup__sum-of-money-text.css);
@import url(../blocks/popup/__sum-of-money-input/popup__sum-of-money-input.css);
@import url(../blocks/popup/__email-input/popup__email-input.css);
@import url(../blocks/popup/__payment-method-label/popup__payment-method-label.css);
@import url(../blocks/popup/__pseudo-item/_payment/popup__pseudo-item_payment.css);
@import url(../blocks/popup/__offer/popup__offer.css);
@import url(../blocks/popup/__offer/_color/_blue/popup__offer_color_blue.css);
@import url(../blocks/popup/__donate-button/popup__donate-button.css);
@import url(../blocks/popup/__donate-button-text/popup__donate-button-text.css);

@import url(../blocks/events/events.css);
@import url(../blocks/events/__wrapper/events__wrapper.css);
@import url(../blocks/events/__title/events__title.css);
@import url(../blocks/events/__list/events__list.css);
@import url(../blocks/events/__link/events__link.css);
@import url(../blocks/events/__link/_type/events__link_type_view-all.css);
@import url(../blocks/events/__link-arrow/events__link-arrow.css);
@import url(../blocks/events/__cards-container/events__cards-container.css);
@import url(../blocks/events/__card/events__card.css);
@import url(../blocks/events/__like-button/events__like-button.css);
@import url(../blocks/events/__like-button/_active/events__like-button_active.css);
@import url(../blocks/events/__card-image/events__card-image.css);
@import url(../blocks/events/__card-image-link/events__card-image-link.css);
@import url(../blocks/events/__card-nameplate/events__card-nameplate.css);
@import url(../blocks/events/__card-details-container/events__card-details-container.css);
@import url(../blocks/events/__card-details-container/_position/events__card-details-container_position_bottom.css);
@import url(../blocks/events/__card-title-container/events__card-title-container.css);
@import url(../blocks/events/__card-title/events__card-title.css);
@import url(../blocks/events/__card-description/events__card-description.css);
@import url(../blocks/events/__card-detail/events__card-detail.css);

@import url(../blocks/numbers/numbers.css);
@import url(../blocks/numbers/__wrapper/numbers__wrapper.css);
@import url(../blocks/numbers/__title/numbers__title.css);
@import url(../blocks/numbers/__desktop-image/numbers__desktop-image.css);
@import url(../blocks/numbers/__mobile-image/numbers__mobile-image.css);
@import url(../blocks/numbers/__stat-container/numbers__stat-container.css);
@import url(../blocks/numbers/__counter/numbers__counter.css);
@import url(../blocks/numbers/__text/numbers__text.css);
@import url(../blocks/numbers/__stat-container/_position/numbers__stat-container_position_left.css);
@import url(../blocks/numbers/__stat-container/_position/numbers__stat-container_position_right.css);

@import url(../blocks/host-event/host-event.css);
@import url(../blocks/host-event/__block/host-event__block.css);
@import url(../blocks/host-event/__title/host-event__title.css);
@import url(../blocks/host-event/__subtitle/host-event__subtitle.css);
@import url(../blocks/host-event/__subtitle-paragraph/host-event__subtitle-paragraph.css);
@import url(../blocks/host-event/__button/host-event__button.css);

@import url(../blocks/hedonismfest/hedonismfest.css);
@import url(../blocks/hedonismfest/__title/hedonismfest__title.css);
@import url(../blocks/hedonismfest/__subtitle/hedonismfest__subtitle.css);
@import url(../blocks/hedonismfest/__block/hedonismfest__block.css);
@import url(../blocks/hedonismfest/__slider/hedonismfest__slider.css);
@import url(../blocks/hedonismfest/__button/hedonismfest__button.css);
@import url(../blocks/hedonismfest/__image/hedonismfest__image.css);
@import url(../blocks/hedonismfest/__button/_status/hedonismfest__button_status_active.css);
@import url(../blocks/hedonismfest/__image/_is/hedonismfest__image_is_visible.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/gallery/__item/gallery__item.css);

@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__wrapper/partners__wrapper.css);
@import url(../blocks/partners/__title/partners__title.css);
@import url(../blocks/partners/__logos/partners__logos.css);
@import url(../blocks/partners/__logo/partners__logo.css);
@import url(../blocks/partners/__logo/_type/partners__logo_type_surf.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__wrapper/footer__wrapper.css);
@import url(../blocks/footer/__illustration/footer__illustration.css);
@import url(../blocks/footer/__block-container/footer__block-container.css);
@import url(../blocks/footer/__block/footer__block.css);
@import url(../blocks/footer/__link-list/footer__link-list.css);
@import url(../blocks/footer/__link-list/_type/footer__link-list_type_social.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__link/_type/footer__link_type_regular.css);
@import url(../blocks/footer/__link/_type/footer__link_type_social.css);
@import url(../blocks/footer/__link/_type/footer__link_type_mail.css);
@import url(../blocks/footer/__list-element/footer__list-element.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__title/footer__title.css);
