.events__link {
    margin: 0 12px 16px 0;
    padding: 10px 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #3B3748;
    white-space: nowrap;
    text-decoration: none;

    border: 2px solid #3B3748;
    border-radius: 26px;

    transition: opacity 0.4s linear;
}

.events__link:hover {
    opacity: 50%;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .events__link {
        padding: 10px 15px;
        margin: 0 12px 12px 0;
        line-height: 20px;
        font-size: 16px;
    }
}

