.error404__image {
  min-width: 420px;
  max-height: 305px;
  margin: 0 40px 0 0;
  transform: scale(-1, 1);
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .error404__image {
    min-width: 320px;
    max-height: 256px;
    transform: scale(1, 1);
    margin: 40px auto;
    /* margin: 40px auto; */
  }
}


