.popup__navigation-text {
  margin: 88px 0 0;
  padding: 0 20px 8px;
  width: 100%;
  color: #96949E;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.popup__navigation-text:last-of-type {
  margin: 20px 0 0;
}
