.header__link-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

@media screen and (min-width: 360.98px) {
  .header__link-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1280.98px) {
  .header__link-text {
    font-size: 18px;
    line-height: 24px;
  }
}
