.events__list {
    margin: 0;
    margin-left: 40px;
    padding: 0;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

@media screen and (max-width: 700px) {
    .events__list {
        margin-left: 20px;
    }
}